*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    background: url("./road.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.car-1,.car-2{
    position: absolute;
    bottom: 20vh;
}

.car-1 img,.car-2 img{
    height: 200px;
}